<%- include ../layouts/cabecera.ejs %> 

      <br>
      <br>
      <a href="/administration/crear" class="btn btn-primary" type="button">Crear nuevo planeta</a>
      <br>
      <br>
      <table class="table table-dark">
        <thead class="thead-dark">
          <tr>
             <th>#</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Número de satelites</th>
            <th>Textura</th>
          </tr>
        </thead>
        <tbody>
  
          <% for( let planeta = 0; planeta < planetas.length; planeta++ ) { %>
          
            <tr>
              <td> <%= planetas[planeta].id %>  </td>
              <td> <%= planetas[planeta].nombre %> </td> 
              <td> <%= planetas[planeta].descripcion %> </td>
              <td> <%= planetas[planeta].numsatelites %> </td>
              <td> <%= planetas[planeta].textura %> </td>
              <td> EDITAR | BORRAR </td>
    
            </tr>
  
          <% } %>
  
          <br>
  
        </tbody>
      </table>

      <%- include ../layouts/pie.ejs %> 

