
<%- include ("../layouts/cabecera.ejs") %> 

      <br>
      <br>
      <a href="/administration/crear" class="btn btn-primary" type="button">Crear nuevo planeta</a>
      <br>
      <br>
      <table class="table table-light">
        <thead class="thead-light">
          <tr>
             <th>#</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Número de satelites</th>
            <th>Textura</th>
          </tr>
        </thead>
        <tbody>

  
          <% for( let planeta = 0; planeta < planetas.length; planeta++ ) { %>
          
            <tr>
              <td> <%= planetas[planeta].id %>  </td>
              <td> <%= planetas[planeta].nombre %> </td> 
              <td> <%= planetas[planeta].descripcion %> </td>
              <td> <%= planetas[planeta].numsatelites %> </td>
              <td> <%= planetas[planeta].textura %> </td>
              <td>
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                  <form class="form-inline" method="get" action="/administration/editar/<%= planetas[planeta].id %>">
                    <button class="btn btn-warning" type="submit">EDITAR</button>
                  </form>
                </td>
                <td>
                </div>
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <form class="form-inline" method="post" action="/administration/eliminar/<%= planetas[planeta].id %>">
                  <button class="btn btn-danger" type="submit">ELIMINAR</button>
                </form>
              </div> 
           
                
              </td>
    
            </tr>
  
          <% } %>
  
          <br>
  
        </tbody>
      </table>

      <%- include ("../layouts/pie.ejs") %> 

