<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/622ef7e060.js" crossorigin="anonymous"></script>   
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="./scripts/model.js" type="module"></script>
    <script src="./scripts/informaciondesplegable.js"></script>
    <link rel="stylesheet" href="./stylesheets/styleapp.css">
    <title>SS3D - Solar System 3D</title>
</head>
<body>
<div id="menu">
    <div class="boton">
        <div id="logo"><img src="./img/logo.png" alt="a" width="170px" height="30px"></div>
        <div id="nav_menu_login" class="button"><a href="/autenticacion"><i class="fa-solid fa-arrow-right-to-bracket"></i></a></div>
    </div>
</div>
<script src="./scripts/menu.js"></script>
<div id="menu_left">
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="menu-inner">
        <ul class="acorh">
           <li><a href="#" id="Mercurio" onclick="mercurio()"><%= planetas[0].nombre %> </a></li>
            <li id="Venus"><a href="#"  onclick="venus()"><%= planetas[1].nombre %></a>
            </li>
            <li id="Tierra"><a href="#" onclick="tierra()"><%= planetas[2].nombre %></a>
              <ul>
                <li id="Luna"><a href="#"  onclick="myFunction(event)">Luna</a></li>
              </ul>
            </li>
            <li id="Marte"><a href="#"  onclick="marte()"><%= planetas[3].nombre %></a>
                <ul>
                    <li id="Fobos"><a href="#"  onclick="myFunction(event)">Fobos</a></li>
                    <li id="Deimos"><a href="#"  onclick="myFunction(event)">Deimos</a></li>
                </ul>
            </li>
            <li id="Jupiter"><a href="#"  onclick="jupiter()"><%= planetas[4].nombre %></a>
                <ul>
                    <li id="Io"><a href="#"  onclick="myFunction(event)">Io</a></li>
                    <li id="Europa"><a href="#"  onclick="myFunction(event)">Europa</a></li>
                    <li id="Ganimedes"><a href="#"  onclick="myFunction(event)">Ganimedes</a></li>
                    <li id="Calisto"><a href="#"  onclick="myFunction(event)">Calisto</a></li>
                </ul>
            </li>
            <li id="Saturno"><a href="#"  onclick="saturno()"><%= planetas[5].nombre %></a>
                <ul>
                    <li id="Mimas"><a href="#"  onclick="myFunction(event)">Mimas</a></li>
                    <li id="Encelado"><a href="#"  onclick="myFunction(event)">Encelado</a></li>
                    <li id="Tetis"><a href="#"  onclick="myFunction(event)">Tetis</a></li>
                    <li id="Rea"><a href="#"  onclick="myFunction(event)">Rea</a></li>
                    <li id="Titan"><a href="#"  onclick="myFunction(event)">Titan</a></li>
                    <li id="Hiperion"><a href="#" onclick="myFunction(event)">Hiperion</a></li>
                </ul>
            </li>
            <li id="Urano"><a href="#" onclick="urano()"><%= planetas[6].nombre %></a>
                <ul>
                    <li id="Miranda"><a href="#" onclick="myFunction(event)">Miranda</a></li>
                    <li id="Ariel"><a href="#" onclick="myFunction(event)">Ariel</a></li>
                    <li id="Umbriel"><a href="#" onclick="instrucciones()">Umbriel</a></li>
                    <li id="Titania"><a href="#" onclick="myFunction(event)">Titania</a></li>
                    <li id="Oberon"><a href="#" onclick="myFunction()">Oberon</a></li>
                </ul>
            </li>
            <li id="Neptuno"><a href="#" onclick="neptuno()"><%= planetas[7].nombre %></a>
                <ul>
                    <li id="Triton"><a href="#" onclick="myFunction(event)">Triton</a></li>
                </ul>
            </li>
            <li id="Pluton"><a href="#" onclick="pluton()"><%= planetas[8].nombre %></a>
                <ul>
                    <li id="Caronte"><a href="#" onclick="myFunction(event)">Caronte</a></li>
                </ul>
            </li>
          </ul>
    </div>
</div>

<div id="instrucciones" style="margin: 0 auto;text-align: center;background: #091019;display: none;color: #d0d0d2;box-shadow: 0 0 40px #3e9093;opacity: 90%;position: fixed;width: 100%;height: 100%;">
    <div id="instrucciones-hijo" style=" margin: 0 auto; text-align: center;display: none;width: 90%;height: 90%;position: fixed;top: 10%;left: 5%;background: #091019;color: #d0d0d2;opacity: 90%;">
        <h1>INSTRUCCIONES</h1>
        <div class="controles">
            <h3>CONTROLES</h3>

            <br>
            <H4>Click izquierdo</H4>
            <br>
            <p> - Al darle al click izquierdo y mover el raton en cualquiera de sus direcciones</p><p>podras girar la camara en cualquier direccion.</p>
            <br>
            <H4>Click derecho</H4>
            <br>
            <p> - Al darle al click izquierdo y mover el raton en cualquiera de sus direcciones</p><p>podras girar la camara en cualquier direccion.</p>
            <br>
            <H4>Ruleta raton hacia delante</H4>
            <br>
            <p> - Al darle al click izquierdo y mover el raton en cualquiera de sus direcciones</p><p>podras girar la camara en cualquier direccion.</p>            
            <br>
            <H4>Ruleta raton hacia atras</H4>
            <br>
            <p> - Al darle al click izquierdo y mover el raton en cualquiera de sus direcciones</p><p>podras girar la camara en cualquier direccion.</p>        
        </div>
        <div class="botones">
            <h3>BOTONES</h3>
            <br>
            <H4>Boton de inicio de animacion</H4> <i class="fa-solid fa-play"></i>
            <br>
            <p> - Al darle al click se iniciara la animacion de los planetas.</p>
            <br>
            <H4>Boton de pausa de animacion</H4> <i class="fa-solid fa-pause"></i>
            <br>
            <p> - Al darle al click se pausara la animacion de los planetas.</p>
            <br>
            <H4>Boton de reinicio de camara</H4> <i class="fa-solid fa-arrows-rotate"></i>
            <br>
            <p> - Al darle al click se reiniciara la camara de la animacion.</p>
            <br>
            <H4>Boton de instrucciones</H4> <i class="fa-solid fa-circle-question"></i>
            <br>
            <p> - Al darle al click se abrira esta ventana, si la ventana ya esta abierta se cerrara.</p>
            <br>
            <H4>Boton de login</H4> <i class="fa-solid fa-arrow-right-to-bracket"></i>
            <br>
            <p> - Al darle al click se podra acceder al login.</p>
        </div>
    </div>
</div>


<div id="infoMercurio" style="position: fixed;top: 10%;right: 1%;width: 20%;height: 80%;color: #d0d0d2;background-color: #091019;opacity: 90%;border: solid 1px #3e9093;box-shadow: 0 0 40px #3e9093;z-index: 1; display: none;">
    <img src="./img/cerrar.png" alt="" style="position: fixed; top: 12%; left: 80%; width: 25px; height: 25px;" onclick="cerrarmercurio()">
    <p><h1 style="text-align: center;padding-top: 15%;"><%= planetas[0].nombre %></h1></p>
    <p style="text-align:center;padding-top: 15%;">Descripción</p>
    <hr>
    <p style="text-align: justify;padding-top: 15%; margin-left: 20px; margin-right: 20px;"><%= planetas[0].descripcion%> </p>
    <br>
    <p style="text-align: justify;padding-top: 15%; margin-left: 20px;">Número de satelites: <%= planetas[0].numsatelites %> </p>
    <br>
</div>

<div id="infoVenus" style="position: fixed;top: 10%;right: 1%;width: 20%;height: 80%;color: #d0d0d2;background-color: #091019;opacity: 90%;border: solid 1px #3e9093;box-shadow: 0 0 40px #3e9093;z-index: 1;display: none;">
    <img src="./img/cerrar.png" alt="" style="position: fixed; top: 12%; left: 80%; width: 25px; height: 25px;" onclick="cerrarvenus()">
    <p><h1 style="text-align: center;padding-top: 15%;"><%= planetas[1].nombre %></h1></p>
    <br>
    <p style="text-align:center;padding-top: 15%; ">Descripción</p>
    <hr>
    <br>
    <p style="text-align: justify;padding-top: 15%; margin-left: 20px; margin-right: 20px;"><%= planetas[1].descripcion%> </p>
    <br>
    <p style="text-align: justify;padding-top: 15%; margin-left: 20px;">Número de satelites: <%= planetas[1].numsatelites %> </p>
    <br>
</div>

<div id="infoTierra" style="position: fixed;top: 10%;right: 1%;width: 20%;height: 80%;color: #d0d0d2;background-color: #091019;opacity: 90%;border: solid 1px #3e9093;box-shadow: 0 0 40px #3e9093;z-index: 1;display: none;">
    <img src="./img/cerrar.png" alt="" style="position: fixed; top: 12%; left: 80%; width: 25px; height: 25px;" onclick="cerrartierra()">
    <p><h1 style="text-align: center;padding-top: 15%;"><%= planetas[2].nombre %></h1></p>
    <br>
    <p style="text-align:center;padding-top: 15%;">Descripción</p>
    <hr>
    <br>
    <p style="text-align: justify;padding-top: 15%; margin-left: 20px; margin-right: 20px;"><%= planetas[2].descripcion%> </p>
    <br>
    <p style="text-align: justify;padding-top: 15%; margin-left: 20px;">Número de satelites: <%= planetas[2].numsatelites %> </p>
    <br>
</div>
info_controles
<div id="infoMarte" style="position: fixed;top: 10%;right: 1%;width: 20%;height: 80%;color: #d0d0d2;background-color: #091019;opacity: 90%;border: solid 1px #3e9093;box-shadow: 0 0 40px #3e9093;z-index: 1;display: none;">
    <img src="./img/cerrar.png" alt="" style="position: fixed; top: 12%; left: 80%; width: 25px; height: 25px;" onclick="cerrarmarte()">
    <p><h1 style="text-align: center;padding-top: 15%;"><%= planetas[3].nombre %></h1></p>
    <br>
    <p style="text-align:center;padding-top: 15%;">Descripción</p>
    <hr>
    <br>
    <p style="text-align: justify;padding-top: 15%; margin-left: 20px; margin-right: 20px;"><%= planetas[3].descripcion%></p>
    <br>
    <p style="text-align: justify;padding-top: 15%; margin-left: 20px;">Número de satelites: <%= planetas[3].numsatelites %> </p>
    <br>
</div>

<div id="infoJupiter" style="position: fixed;top: 10%;right: 1%;width: 20%;height: 80%;color: #d0d0d2;background-color: #091019;opacity: 90%;border: solid 1px #3e9093;box-shadow: 0 0 40px #3e9093;z-index: 1;display: none;">
    <img src="./img/cerrar.png" alt="" style="position: fixed; top: 12%; left: 80%; width: 25px; height: 25px;" onclick="cerrarjupiter()">
    <p><h1 style="text-align: center;padding-top: 15%;"><%= planetas[4].nombre %></h1></p>
    <br>
    <p style="text-align:center;padding-top: 15%;">Descripción</p>
    <hr>
    <br>
    <p style="text-align: justify;padding-top: 15%; margin-left: 20px; margin-right: 20px;"><%= planetas[4].descripcion%> </p>
    <br>
    <p style="text-align: justify;padding-top: 15%; margin-left: 20px;">Número de satelites: <%= planetas[4].numsatelites %> </p>
    <br>
</div>

<div id="infoSaturno" style="position: fixed;top: 10%;right: 1%;width: 20%;height: 80%;color: #d0d0d2;background-color: #091019;opacity: 90%;border: solid 1px #3e9093;box-shadow: 0 0 40px #3e9093;z-index: 1;display: none;">
    <img src="./img/cerrar.png" alt="" style="position: fixed; top: 12%; left: 80%; width: 25px; height: 25px;" onclick="cerrarsaturno()">
    <p><h1 style="text-align: center;padding-top: 15%;"><%= planetas[5].nombre %></h1></p>
    <br>
    <p style="text-align:center;padding-top: 15%;">Descripción</p>
    <hr>
    <br>
    <p style="text-align: justify;padding-top: 15%; margin-left: 20px; margin-right: 20px;"><%= planetas[5].descripcion%> </p>
    <br>
    <p style="text-align: justify;padding-top: 15%; margin-left: 20px;">Número de satelites: <%= planetas[5].numsatelites %> </p>
    <br>
</div>

<div id="infoUrano" style="position: fixed;top: 10%;right: 1%;width: 20%;height: 80%;color: #d0d0d2;background-color: #091019;opacity: 90%;border: solid 1px #3e9093;box-shadow: 0 0 40px #3e9093;z-index: 1;display: none;">
    <img src="./img/cerrar.png" alt="" style="position: fixed; top: 12%; left: 80%; width: 25px; height: 25px;" onclick="cerrarurano()">
    <p><h1 style="text-align: center;padding-top: 15%;"><%= planetas[6].nombre %></h1></p>
    <br>
    <p style="text-align:center;padding-top: 15%;">Descripción</p>
    <hr>
    <br>
    <p style="text-align: justify;padding-top: 15%; margin-left: 20px; margin-right: 20px;"><%= planetas[6].descripcion%> </p>
    <br>
    <p style="text-align: justify;padding-top: 15%; margin-left: 20px;">Número de satelites: <%= planetas[6].numsatelites %> </p>
    <br>
</div>

<div id="infoNeptuno" style="position: fixed;top: 10%;right: 1%;width: 20%;height: 80%;color: #d0d0d2;background-color: #091019;opacity: 90%;border: solid 1px #3e9093;box-shadow: 0 0 40px #3e9093;z-index: 1;display: none;">
    <img src="./img/cerrar.png" alt="" style="position: fixed; top: 12%; left: 80%; width: 25px; height: 25px;" onclick="cerrarneptuno()">
    <p><h1 style="text-align: center;padding-top: 15%;"><%= planetas[7].nombre %></h1></p>
    <br>
    <p style="text-align:center;padding-top: 15%;">Descripción</p>
    <hr>
    <br>
    <p style="text-align: justify;padding-top: 15%; margin-left: 20px; margin-right: 20px;"><%= planetas[7].descripcion%> </p>
    <br>
    <p style="text-align: justify;padding-top: 15%; margin-left: 20px;">Número de satelites: <%= planetas[7].numsatelites %> </p>
    <br>
</div>

<div id="infoPluton" style="position: fixed;top: 10%;right: 1%;width: 20%;height: 80%;color: #d0d0d2;background-color: #091019;opacity: 90%;border: solid 1px #3e9093;box-shadow: 0 0 40px #3e9093;z-index: 1;display: none;">
    <img src="./img/cerrar.png" alt="" style="position: fixed; top: 12%; left: 80%; width: 25px; height: 25px;" onclick="cerrarpluton()">
    <p><h1 style="text-align: center;padding-top: 15%;"><%= planetas[8].nombre %></h1></p>
    <br>
    <p style="text-align:center;padding-top: 15%;">Descripción</p>
    <hr>
    <br>
    <p style="text-align: justify;padding-top: 15%; margin-left: 20px; margin-right: 20px;"><%= planetas[8].descripcion%> </p>
    <br>
    <p style="text-align: justify;padding-top: 15%; margin-left: 20px;">Número de satelites: <%= planetas[8].numsatelites %> </p>
    <br>
</div>

<div id="camera_reset" class="button" style="z-index: 1;"><i class="fa-solid fa-arrows-rotate"></i></div>
<div id="inicio" class="button"><i class="fa-solid fa-play" style="z-index: 1;"></i></div>
<div id="pausa" class="button"><i class="fa-solid fa-pause" style="z-index: 1;"></i></div>
<div id="info_controles" class="button" style="z-index: 1;"><i class="fa-solid fa-circle-question" onclick="instrucciones()"></i></div>



</body>
</html>