<%- include ("../layouts/cabecera.ejs") %>

<form method="post" action="../actualizar/">
  <input id="my-input" type="hidden" name="id" value="<%=satelite.id%>" />

  <div class="form-group">
    <label for="my-input">Nombre Planeta</label>
    <input
      id="my-input"
      value="<%=satelite.nombreplaneta%>"
      class="form-control"
      type="text"
      name="nombreplaneta"
      minlength="3"
      required
    />
  </div>

  <div class="form-group">
    <label for="my-input">Nombre Satelite</label>
    <input
      id="my-input"
      value="<%=satelite.nombreluna%>"
      class="form-control"
      type="text"
      name="nombreluna"
      minlength="3"
      required
    />
  </div>

  <div class="form-group">
    <label for="my-input">Descripcion</label>
    <input
      id="my-input"
      value="<%=satelite.descripcion%>"
      class="form-control"
      type="text"
      name="descripcion"
      minlength="10"
      required
    />
  </div>

  <button class="btn btn-primary" type="submit">Guardar</button>
</form>

<%- include ("../layouts/pie.ejs") %>
